<h3>Choose a lottery below to generate your numbers:</h3>

<div id="lotto">
	<%= link_to image_tag("lotto_button.png", :border => 0), :controller => "lotto", :action => "new_lotto" %>
</div>
<div id="euro">
	<%= link_to image_tag("euro_button.png", :border => 0), :controller => "lotto", :action => "new_euro" %>
</div>
<div id="thunder">
	<%= link_to image_tag("thunderball_button.png", :border => 0), :controller => "lotto", :action => "new_thunder" %>
</div>
<div id="usa_powerball">
	<%= link_to image_tag("usa_powerball_button.png", :border => 0), :controller => "lotto", :action => "new_usa_powerball" %>
</div>
<div id="canada_649">
	<%= link_to image_tag("canada_649_button.png", :border => 0), :controller => "lotto", :action => "new_canada_649" %>
</div>
<div id="usa_megamillions">
	<%= link_to image_tag("usa_mega_button.png", :border => 0), :controller => "lotto", :action => "new_usamega" %>
</div>
<div id="newyork">
	<%= link_to image_tag("newyork_button.png", :border => 0), :controller => "lotto", :action => "new_newyork" %>
</div>
<div id="irish">
	<%= link_to image_tag("irish_button.png", :border => 0), :controller => "lotto", :action => "new_irish" %>
</div>
<div>

		<h3>Register for lotto mail alerts <%= link_to "here", :controller => "users", :action => "new" %> and we'll send you email reminders with your numbers</h3>
<br />
Contact us <%= mail_to "support@lottomail.org" %>
</div>	