<% form_for(@user) do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p>	
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</p>
	<% for subscription in Subscription.all %>
		<p>
			<%= check_box_tag "user[subscription_ids][]", subscription.id, @user.subscriptions.include?(subscription) %>
			<%= subscription.name %>
	<% end -%>
	<p>	
		<%= f.submit "Update" %>
	</p>
<% end -%>