
<h2>Never forget to play the lottery again.</h2>
<div id="story">
	<div id="left_text">
		<h3>Email Reminders.</h3>
		<p>You choose which lottery you want to subscribe to and we will 
				send you an email reminder 8 hours before every draw.
		</p>
		<h3>Unique Random Numbers.</h3>
		<p>We will also add your personal batch of unique random numbers 
				to the email.
		</p>
		<h3>Totally Free.</h3>
		<p>The service is free and we promise never to sell your details 
		or send you spam. Unsubscribe to lotto-mail anytime.
		</p>
	</div>
	<%= image_tag("email.jpg", :border => 0) %>
</div>
<div id="new_user_form">
	<h3>Sign Up</h3>
	<%= render :partial => 'form' %>
</div>
<div id="lottery_numbers">
	<div id="lottery_numbers_content">
		<h3>Lottery Number Generator</h3>
		<p class="para_padding_bottom">Use our random number generators to pick your numbers.</p>
		<%= link_to image_tag("uk_lotto_button.gif", :border => 0), :controller => "lotto", :action => "new_lotto" %>
		<%= link_to image_tag("uk_thunderball_button.gif", :border => 0), :controller => "lotto", :action => "new_thunder" %>
		<%= link_to image_tag("euromillions_button.gif", :border => 0), :controller => "lotto", :action => "new_euro" %>
		<%= link_to image_tag("newyork_button.gif", :border => 0), :controller => "lotto", :action => "new_newyork" %>
		<%= link_to image_tag("usa_powerball_button.gif", :border => 0), :controller => "lotto", :action => "new_usa_powerball" %>
		<%= link_to image_tag("canada649_button.gif", :border => 0), :controller => "lotto", :action => "new_canada_649" %>
		<%= link_to image_tag("usa_mega_button.gif", :border => 0), :controller => "lotto", :action => "new_usamega" %>
		<%= link_to image_tag("irish_button.gif", :border => 0), :controller => "lotto", :action => "new_irish" %>
	</div>
</div>
