<% form_for(@subscription) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
	<p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
	<p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
	<p>
    <%= f.label :schedule_delivery %><br />
    <%= f.text_field :schedule_delivery %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>